<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".BaseApplication"
        android:theme="@style/Theme.ComposeCourseYT"
        tools:targetApi="31">
        <activity
            android:name=".ui.otherflows.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeCourseYT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.otherflows.MenuActivity"/>
        <activity android:name=".ui.PurchaseActivity"/>
        <activity android:name=".ui.PaymentActivity" />
        <activity android:name=".ui.cashflow.cashdeposit.InsertCardActivity" />
        <activity android:name=".ui.cashflow.cashdeposit.AccountTypeActivity" />
        <activity android:name=".ui.cashflow.CashActivity" />
        <activity android:name=".ui.otherflows.EnterPinActivity" />
        <activity android:name=".ui.otherflows.PrintActivity" />
        <activity android:name=".ui.transferflow.TransferActivity" />
        <activity android:name=".ui.cashflow.cashwithdraw.AccountTypeWithdrawalActivity" />
        <activity android:name=".ui.cashflow.cashwithdraw.InsertCardWithdrawActivity" />
        <activity android:name=".ui.cardpurchaseflow.AccountTypePurchaseActivity" />
        <activity android:name=".ui.cardpurchaseflow.InsertCardPurchaseActivity" />
        <activity android:name=".ui.cardotherflow.CardOtherActivity" />
        <activity android:name=".ui.cardotherflow.balanceenquiry.AccountTypeBalanceEnquiryActivity" />
        <activity android:name=".ui.cardotherflow.balanceenquiry.InsertCardBalanceEnquiryActivity"/>
        <activity android:name=".ui.cardotherflow.cashrefund.CashRefundActivity"/>
        <activity android:name=".ui.cardotherflow.cashrefund.InsertCardCashRefundActivity"/>
        <activity android:name=".ui.cardotherflow.cashadvance.CashAdvanceActivity"/>
        <activity android:name=".ui.cardotherflow.cashadvance.InsertCardCashAdvanceActivity"/>
        <activity android:name=".ui.cardotherflow.cashback.CashBackActivity"/>
        <activity android:name=".ui.cardotherflow.cashback.InsertCardCashBackActivity"/>
        <activity android:name=".ui.otherflows.CustomerPrintActivity"/>
        <activity android:name=".ui.otherflows.MerchantPrintActivity"/>
        <activity android:name=".ui.cardotherflow.reversaltransfer.TransactionHistoryActivity"/>
        <activity android:name=".ui.otherflows.CustomerOtherReceipt"/>
    </application>


</manifest>